.cart-info {
  background: #ffffff;
  .box-order-total {
    background: #ffffff;
    margin-right: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    .box-title {
      background: #117c47;
      border-radius: 4px 4px 0 0;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
      padding: 3px;
      h5 {
        padding: 0px;
        margin: 0px;
      }
    }
    .box-main {
      padding: 20px 20px 0px 20px;
      color: #66645c;
      font-weight: 500;
      .item {
        display: flex;
        justify-content: space-between;
      }
    }
    .box-footer {
      padding: 0px 20px 10px 20px;
      color: #66645c;
      font-weight: 500;
      .item {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .box-list-cart {
    .box-main {}
    .box-footer {}
  }
}